
<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
	</script>


<div class="center hero-unit">
<% provide(:title, 'All Emails') %>
<h1>All emails</h1>



  <%= render @users %>




<div id="<%= incoming_mail.from %>" title="<%= incoming_mail.from %>">
  <h3><p><%= incoming_mail.from %></p></h3>
  <p><ul><li><%= incoming_mail.to %></li>
  	<li><%= incoming_mail.ip %></li>
  	<li><%= incoming_mail.body %></li></p>
  <p>bunches of information regarding this server</p>
</div>






<div id="accordion">

	<%= render @incoming_mails %>
	
</div>
</div>