<!DOCTYPE html>
<html>
  <head>
    <title>Cloudadmin | <%= yield(:title) %></title>
 <%= render 'layouts/stylesheets' %>
  </head>
  <body>
 <div id="wrapper">

   <%= render 'layouts/header' %>
        
<div id="section">
 
        <%= yield %>
    
</div>

<%= render 'layouts/footer' %>
</div>

  </body>
</html>